@use "../../utilities/variables" as *;



// .container {
//   display: flex;
//   max-width: 1440px;
//   background-color: $secondary-color;
//   border-radius: 10px;
//   overflow: hidden;
// }

.left-section {
  background-color: $primary-color;
  padding: 60px 40px 40px 60px;
  color: $secondary-color;
  flex: 1;
  
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: .5em;
  text-align: center;
}

.login-box {
  padding: 40px;
  flex: 1;
  background-color: $primary-color;
  padding: 40px;
}

.h2{
  font-size: 2.5em;
}
.loggin{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;

}
h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: .7em;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.here{
  font-size: .8em;
  text-align: center;
  .reg{
    font-size: .7em;
  }

}
.login-btn {
  // background-color: $primary-color;
  width: 50%;
  margin: auto;
  color: $secondary-color;
  padding: 10px;
  // height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.login-btn:hover {
  background-color: #E67E22;
}

.social-login {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 10px;
  p{
    font-size: .9em;
  }
}

.social-login i {
  max-width: 30px;
  cursor: pointer;
  // align-items: center;
  // align-self: center;
}
