/* CSS for Description Box */
@use "../../utilities/variables" as *;

.tasks {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 6px rgba($color: #000000, $alpha: .3);
  width: 50%;
  textarea {
    resize: none;
    outline: none;
    border-radius: 10px;
    height: 100%;
    padding: 5px;
  }
  input {
    height: inherit;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
  }
  h2{
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

.description-box {
  // background-color: #ffa500;
  // padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.description-box textarea {
  width: 90%;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 1em;
  resize: none;
  outline: none;
}
.description-box button {
  background-color: white;
  // color: #ffa500;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  align-content: center;
}

/* CSS for Task List */
.list{
  display: flex;
  align-items: center;
  justify-content: center;
.task-list {
  background-color: #fff;
  // padding: 20px;
  border-radius: 10px;
  color: white;
  width: 50%;
  display: flex;

  // justify-content: center;
  align-items: center;
  flex-direction: column;
}
}
.task-list h2 {
  font-size: 1.5em;
  // margin-bottom: 10px;
}
.task-list ul {
  // list-style: none;
  // text-decoration: none;
  padding: 0;
}
.task-list li {
  display: flex;
  justify-content: space-between;
  // margin: 5px 0;
}
.task-list a {
  color: black;
  // text-decoration: underline;
}

#taskList li{
  cursor: pointer;
  color: black;
  // text-align: center;
}

.alls {
  display: flex;
  justify-content: space-between;
}

.view-btn{
  color: black;
  background-color: #fff;
  font-size: .7em;
  margin: 5px;
  padding: 10px;
  text-align: center;
  align-self: center;
  &:hover{
    height: inherit;
    box-shadow: 0 4px 6px rgba($color: #000000, $alpha: .3);
  }
}

.btn{
  button{
    color: #000;
    font-weight: bold;
    &:hover{
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    .alls {
      flex-direction: column;
      padding: 20px;
    }
    input{
      width: 150px;
      // padding: 10px;
    }
    textarea{
      width: 150px;
    }
  }
  .task-list {
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    // margin: 20px 0;
    align-content: center;
  }
}
